<nav class="navbar bg-blue">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/logo-almundo.svg" alt="" href="#">
  </a>
</nav>

<div class="container-fluid">

  <div class="row m-3">
    <div class="col">
      <div class="card text-dark font-weight-bold mb-2">
        <div class="card-header bg-white">Filtro</div>
      </div>
      <div class="card text-dark font-weight-bold mb-2">
        <div class="card-header bg-white d-inline-flex justify-content-between">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../assets/icons/filters/search.svg" width="15px" height="15px" alt="" class="mr-1">
            <span class="filter-title">Estrellas</span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <fa-icon [class.clicked]="toggleName" class="chevron" (click)="toggleClickName()" [icon]="faAngleDown">
            </fa-icon>
          </div>

        </div>
        <div class="card-body" [class.displayed]="toggleName">
          <div class="d-inline-flex justify-content-center">
            <input type="text" class="form-control mr-2" id="nombreHotel" [(ngModel)]="nameHotel"
              placeholder="Ingrese el nombre del hotel...">
            <button type="submit" class="btn btn-done mb-2" (click)="getHotels()">Aceptar</button>
          </div>
        </div>
      </div>
      <div class="card text-dark font-weight-bold mb-2">
        <div class="card-header bg-white d-inline-flex justify-content-between">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../assets/icons/filters/star.svg" width="15px" height="15px" alt="" class="mr-1">
            <span class="filter-title">Estrellas</span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <fa-icon [class.clicked]="toggleStars" class="chevron" (click)="toggleClickStars()" [icon]="faAngleDown">
            </fa-icon>
          </div>

        </div>
        <div class="card-body" [class.displayed]="toggleStars">
          <div class="form-check" *ngFor="let star of starsFilter;">
            <input class="form-check-input" type="checkbox" id='starCheck{{star.value}}' [(ngModel)]="star.checked"
              (click)="checkedStar(star)">
            <label class="form-check-label" for='starCheck{{star.value}}'>
              <span *ngIf="star.value == 0">{{star.name}}</span>
              <fa-icon *ngFor="let stars of [].constructor(star.value);" class="stars" [icon]="faStar"></fa-icon>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12">
      <div *ngIf="hotels.length == 0 && !loading" class="text-center">No se encontraron resultados</div>
      <div *ngFor="let hotel of hotels ">
        <div class="card mb-3">
          <div class="card-body display-responsive p-2" style="min-height: 230px;">
            <div class="col-xs-12 col-sm-4">
              <div class="hotel-img" 
              [style.background-image]="'url(' + '../assets/images/hotels/' + hotel.image + ')' "></div>
              <!--   <img src='../assets/images/hotels/{{hotel.image}}'
                onError="this.src='../assets/images/hotels/not-found.jpg';" class="card-img"> -->
            </div>
            <div class="col-xs-12 col-sm-4">
              <h5 class="card-title hotel-title mb-0">{{hotel.name}}</h5>
              <div class="">
                <fa-icon *ngFor="let item of [].constructor(hotel.stars);" class="stars" [icon]="faStar"></fa-icon>
              </div>
              <p class="card-text mb-4">
                <img *ngFor="let ame of hotel.amenities;" src='../assets/icons/amenities/{{ame}}.svg' width="20px"
                  height="20px" class="mr-1 mt-3" />
              </p>
            </div>
            <div class="col text-center d-flex flex-column justify-content-center border-dashed">
              <div class="">
                <p class="font-weight-500">Precio por noche por habitación</p>
                <div class="d-flex justify-content-center align-items-center price">
                  <p class="price__currency">ARS</p>
                  <p class="price__text"> {{hotel.price}}</p>
                </div>
              </div>
              <div id="actions">
                <a href="#" class="btn btn-detail">Ver hotel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>