:root {

    /* COLORS */
    --primary-blue-color: #073A79;
    --primary-gold-color: gold;
    --primary-orange-color: #ea6422;
    --secondary-blue-color:  #157AB1;

    /* SHADOW  */
    --primary-grey-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  }

 /* REPLACE CLASS */
 
 body {
    background-color: rgba(0,0,0,.075);
 }

 .card {
    box-shadow: var(--primary-grey-shadow)
}

/* APP CLASS */

.chevron {
    color: var(--secondary-blue-color);
}

.clicked {
    transform:rotate(180deg);
}

.displayed {
    transition: all .4s linear;
    display: none;
}

.btn:hover {
    color: #fff;
}

.btn-detail {
    color: #fff;
    background-color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
    font-weight: 600;
    font-size: 1.25em;
    width: 80%;
}

.btn-done {
    color: #fff;
    background-color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
    font-weight: 600;
}

.bg-blue{
    background-color: var(--primary-blue-color);
}

.stars {
    color: var(--primary-gold-color);
}

.price {
    color: var(--primary-orange-color);
}

.price__text {
   
    font-size: 1.75em;
    font-weight: bold;
}

.price__currency {
    font-size: 1.25em !important;
    font-weight: 600;

}

.hotel-img {
    background-size: cover;
    background-position: 50%;
    height: 100%;
}

.hotel-title{
    font-weight: 700;
    color: var(--secondary-blue-color);
}

.filter-title{
    color: var(--secondary-blue-color);
}

@media (min-width: 576px) { 

    .border-dashed {
        border-left-style: dashed;
        border-color: grey;
        border-left-width: 1px;
    }

    .display-responsive {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}


@media (max-width: 576px) { 

    .border-dashed {
        border-top-style: dashed;
        border-color: grey;
        border-top-width: 1px;
    }

    .display-responsive {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        
    }
}
